.row
  .col-md-10
    = form_tag(login_path, method: "post") do
      %fieldset.form-group
        = label_tag(:username, "Username")
        = text_field_tag(:username)
      %fieldset.form-group
        = label_tag(:password, "Password")
        = text_field_tag(:password)
      %fieldser.form-group
        = submit_tag("Login")
