.col-xs-6.div-height
  %div{class: "well admin-wells#{" red-wells" if admin_project.actual_time > admin_project.estimated_time}"}
    = line_chart @chart_data[admin_project.title]
    %h2.text-center
      = admin_project.title
    %h4
      = "Estimated Time: #{admin_project.estimated_time}"
    %h4
      = "Total Running Time: #{admin_project.actual_time}"
    %p
      = admin_project.summary
    - admin_project.users.each do |user|
      %p= "#{user.username} time spent: #{(user.timers.where(project_id: admin_project.id).inject(0.0){|x, y| x + y.value}/3600).round(1)}"
