.row
  .col-md-11.text-left
    = form_for @project do |f|
      %fieldset.form-group
        = f.label :title
        = f.text_field :title, :class => "form-control", :placeholder => "Project Title"
      %fieldset.form-group
        = f.label :summary
        = f.text_area :summary, :class => "form-control", :placeholder => "Project Summary"
      %fieldset.form-group
        = f.label :estimated_time, 'Esimated Time In Hours'
        = f.text_field :estimated_time, :class => "form-control", :placeholder => "Estimated Project Summary"
      %fieldset.form-group
        = f.label :client_name
        = f.text_field :client_name, :class => "form-control", :placeholder => "Client Name"
      %fieldset.form-group
        = f.label :client_email
        = f.text_field :client_email, :class => "form-control", :placeholder => "Client email (if new client)"
      = f.submit :class => "btn btn-primary"
